<div class="wrapper">
  <div class="leftSection">
    <h1 class="title">Sistema de gerenciamento</h1>
    <img class="img" alt="logo" src="/assets/images/logoSuas.png" />
  </div>
  <div class="rightSection">
    <div class="titleWrapper">
      <span class="title">Bem-vindo de volta!</span>
      <span>Por favor, insira seus dados abaixo:</span>
    </div>
    <div class="loginWrapper">
      <app-login-box></app-login-box>
      <div>
        <span>Problema para fazer login?</span>
        <p>Contate o suporte para recuperar seu usuário ou senha.</p>
      </div>
    </div>
  </div>
</div>
