.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .leftSection {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      position: relative;
      height: 500px;
    }

    .title {
      font-size: 32px;
      color: #c07c2b;
      font-weight: 500;
    }
  }
  .rightSection {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titleWrapper {
      display: flex;
      flex-direction: column;
      width: 80%;
      gap: 8px;
      .title {
        color: #d57d1c;
        font-size: 32px;
        font-weight: 500;
      }
    }
    .loginWrapper {
      display: flex;

      justify-content: space-between;
      div {
        position: relative;
        top: 45px;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 12px;
        span {
          width: 100%;
          font-weight: 400;
          font-size: 18px;
          color: #d57d1c;
        }
      }
    }
  }
}

/* Estilo responsivo para telas menores que 950px */
@media (max-width: 950px) {
  .rightSection {
    width: 100vw;
  }

  .loginWrapper {
    flex-direction: column;
  }

  img,
  h1,
  .leftSection {
    display: none !important; /* Oculta a seção esquerda */
  }
}
