.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
