<div class="wrapper">
  <div class="left-side">
    <mat-form-field appearance="outline" class="form-group">
      <mat-label>Selecione a Unidade</mat-label>
      <mat-select [(value)]="selectedUnit">
        <mat-option *ngFor="let unit of units" [value]="unit">
          {{ unit.unitName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="table-wrapper">
    <app-dynamic-table
      [dynamicColumns]="dynamicColumns"
      #dynamicTableComponent
      (enableSelectEmitter)="enableSelectEmitter($event)"
      [tableDataSource]="selectedUnit ? [selectedUnit] : []"
    ></app-dynamic-table>
  </div>
</div>
