<div class="wrapper">
  <div class="table-wrapper">
    <app-dynamic-table
      [tableHeader]="'Unidades cadastradas'"
      (deleteEmitter)="deleteEmitter($event)"
      [selectColumns]="selectColumns"
      (editedRowsEmitter)="editedRowsEmitter($event)"
      [columnTitle]="columnTitle"
      [checkboxState]="checkboxState"
      [displayedColumns]="[
        'address',
        'cep',
        'email',
        'id',
        'phone',
        'responsible',
        'service',
        'unitName'
      ]"
      #dynamicTableComponent
    ></app-dynamic-table>
  </div>
</div>
