<div class="wrapper">
  <h2>Olá. Vamos definir uma nova senha para você.</h2>

  <form [formGroup]="passwordForm">
    <mat-form-field appearance="outline">
      <mat-label>Nova Senha</mat-label>
      <input matInput type="password" formControlName="newPassword" />
      <mat-error *ngIf="newPassword.invalid && newPassword.touched">
        A senha deve ter pelo menos 6 caracteres.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirmar Nova Senha</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error *ngIf="confirmPassword.invalid && confirmPassword.touched">
        As senhas não coincidem.
      </mat-error>
    </mat-form-field>

    <div class="actions">
      <button mat-button (click)="closeDialog()" color="warn">Cancelar</button>
      <button
        mat-button
        (click)="savePassword()"
        [disabled]="!passwordForm.valid"
        color="primary"
      >
        Salvar
      </button>
    </div>
  </form>
</div>
