<div class="wrapper">
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
  <app-module-box></app-module-box>
</div>
