.wrapper {
  .moduleSection {
    max-width: 80vw;
    width: fit-content;
    gap: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #c07c2b;
    background-color: #ffe9cb;
    height: 150px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 13px 19px -12px rgba(56, 46, 7, 0.78);
    -moz-box-shadow: 10px 13px 19px -12px rgba(56, 46, 7, 0.78);
    box-shadow: 10px 13px 19px -12px rgba(56, 46, 7, 0.78);
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    position: relative;
    width: fit-content;

    .moduleTitle {
      position: absolute;
      top: 10px;
    }

    .icon {
      cursor: pointer;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #c07c2b;
      height: 80px;
      min-width: 200px;
      padding: 6px;
      justify-content: space-evenly;
      border-radius: 5px;
      background-color: white;
      -webkit-box-shadow: 10px 13px 19px -12px rgba(56, 46, 7, 0.78);
      -moz-box-shadow: 10px 13px 19px -12px rgba(56, 46, 7, 0.78);
      box-shadow: 10px 13px 19px -12px rgba(56, 46, 7, 0.78);
      span {
        text-align: center;
      }
    }
  }
}
